$green: #02b0c9;
$blue: #247bbe;
@mixin transition($type, $time){
    transition: $type $time;
    -moz-transition: $type $time;
    -ms-transition: $type $time;
    -webkit-transition: $type $time;
}

body{
    font-family: 'Nunito', sans-serif
}

input:focus, button:focus, select:focus, textarea:focus{
    outline: none;
}

// Login Page CSS

.login{
    min-height: 100vh;
    display: flex;
    .left-sec{
        width: 60%;
        min-height: 100vh;
        background: linear-gradient(rgba($green, .6), rgba($blue, .6)), url('https://cdn7.dissolve.com/p/D1028_48_099/D1028_48_099_1200.jpg') scroll no-repeat center center / cover;
        display: flex;
        justify-content: center;
        align-items: center;
        .content{
            color: #fff;
            text-align: center;
            h3{
                font-size: 25px;
            }
            h1{
                font-size: 50px;
            }
        }
    }
    .right-sec{
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
        .login-div{
            width: 100%;
            .social-login{
                text-align: center;
                margin-bottom: 30px;
                .fb-login{
                    background: #4267b2;
                    color: #fff;
                    border-radius: 20px;
                    border: 1px solid #4267b2;
                    width: 60%;
                    height: 35px;
                }
                .gmail-login{
                    background: #c71610;
                    color: #fff;
                    border-radius: 20px;
                    border: 1px solid #c71610;
                    width: 60%;
                    height: 35px;
                }
                p{
                    font-size: 18px;
                    margin: 5px 0;
                }
            }
            .links{
                text-align: center;
                p{
                    margin: 10px 0;
                    font-size: 12px;
                    a{
                        font-size: 15px;
                        color: $blue;
                    }
                }
            }
            .input-div{
                margin-bottom: 20px;
                input{
                    width: 100%;
                    padding: 10px 20px;
                    height: 50px;
                    width: 100%;
                    border: 1px solid #ddd;
                    border-radius: 30px;
                }
                button{
                    background: linear-gradient(to left, rgba($green, .6), rgba($blue, .6));
                    width: 100%;
                    height: 50px;
                    color: #fff;
                    border:1px solid transparent;
                    border-radius: 30px;
                    font-size: 18px;
                    i{
                        margin-left: 8px;
                        @include transition(all, .3s);
                    }
                    &:hover{
                        i{
                            margin-left: 18px;
                            @include transition(all, .3s);
                        }
                    }
                }
            }
        }
    }
}
