$blue: #137eff;
$green: #5ac146;
$orange: #fb755a;
$purple: #8b5edd;
$gray: #233242;
$bg-color: #f2f4f5;
$lite: #8899a1;
$dark: #1e2b39;
$text: #a8afbc;
@mixin transition($type, $time) {
    transition: $type $time;
    -moz-transition: $type $time;
    -ms-transition: $type $time;
    -webkit-transition: $type $time;
}
